<div class="row">
	<hr>
	<p>
		<p><%= comment.body %></p>

		<%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
<% if can? :destroy, comment %>
        		<%= link_to 'REMOVE', product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        	<% end %>
	</p>
	<div class="rated" data-score="<%= comment.rating %>"></div>

</div>