<div class="container-fluid ">
  <div class="form-group">
    <% if signed_in? %>
      <h4>Add a review:</h4>
      <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
        <p>
          <%= f.label :body, "Comments" %><br>
          <%= f.text_area :body, placeholder: "Your review here", :title => "Please type in your review" %>
          <%= alert %>
        </p>
        <p>
          <div class="rating"></div>
        </p>  
        <p>
          <%= f.submit "Submit", class: "btn btn-secondary", :title => "Fill in review and rate with number of stars before submitting." %>
        </p>
        <p class="new_comment_error">
        </p>
      <% end %>
    <% end %>
  </div><!-- comment_form end -->
</div>