<% cache product do %>
	<div class="col-sm-2 col-md-4">
		<%= image_tag(product.image_url, class: "img-responsive") %>
	  <h1><%= link_to product.name , product %></h1>
		<p><%= product.description %></p>
		<span class="glyphicon glyphicon-usd"></span> 
		<strong><%= product.price %></strong>
	<% if can? :manage, product %>
		<%= link_to 'Edit', edit_product_path(product) %>
	<% end %>
	<% if can? :destroy, product %>
		<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	</div><!-- /col -->
<% end %>